.choices {
  margin-top: 86px;

  .dropdown{
    .btn{
      border: 2px solid $accentColor;
      color: $accentColor;
      &:hover,&:focus{
        background-color: $accentColor;
        color: $accentColor2;
      }
    }
    .dropdown-menu{
      a{
        transition: all 0.2s;
        &:hover,&:focus{
          color: $accentColor2;
          background-color: $accentColorTint2;
        }
      }
      
    }
  }


}