.pagination{
    .active > .page-link,
    .page-link.active,
    .page-link:focus {
        color: $accentColor2 !important;
        background-color: $accentColorTint2 ;
        border-color: $accentColorTint2 !important;
    }

    .page-item{
        
        .page-link {
            color: $mainColor;
            border:1px solid $mainColor;
            &:focus {
                box-shadow: none;
            }
        
            &:hover,&:focus {
                z-index: 2;
                border-color: $accentColorTint2;
                box-shadow: inset 0 0 0 4px $accentColorTint2;
            }
        
    
            
        
        
        }

        
    }
    
  

}


