.product-details {
    margin-top: 126px;
    h3{
      font-weight: 900;
    }
    img{
      width: 350px;
    }
    .quantity{
      &:not(.btn-check)+.btn:active{
        border-color: $bodyBackgroundColor;
        background-color: $bodyBackgroundColor;
      }
      .btn{
          border:none;
          color: $accentColor2;
          background-color: $accentColor;
          &:hover,&:focus {
              border-color: $mainColor;
              background-color: $mainColor;
          }

          
      }
  }
  
  .btn{
    color: $mainColor;
    background-color: $bodyBackgroundColor;
    font-weight: 600;
    &:hover,&:focus{
      background-color: $bodyBackgroundColorTint1;
      color: $accentColor2;
    }
  }

}
  