.specs-details{
    .specs-title{
        background-color: $bodyBackgroundColor;
        text-transform: uppercase;
        h5{
           
            margin: 0 0 0 1.3rem;
            color: $mainColor;
            font-weight: 800;
        }
    }

    .sticky-top{
        top:88px;
    }
    table{
        
        --bs-table-hover-bg: #ffc60b25; // $bodyBackgroundColor with 25% opacity
        tbody{
            tr{
                
                th{
                    padding-left: 1.8rem;
                    
                    width: 40%;
                }
                td{ 
                    
                    width: 60%;
                }
            }
        }
    }
}
