.feature {
    background-color: $accentColor2;

    img {
        width: 50%;
    }

    h4 {
        color: $mainColor;
    }

    h6 {
        font-style: italic;
    }

    a {
        font-weight: 800;
        color: $bodyBackgroundColorTint2;
        transition: all 0.2s;
        text-decoration: none;

        &:hover,&:focus {
            color: $bodyBackgroundColor;
            text-decoration: underline !important;
        }
    }

    .feature-details {

        span {
            color: $accentColor;
            font-weight: 800;
        }
        h6{
            span{
                color: $accentColor;
            }
        }
    }
}