footer {
    background-color: $mainColor;
    color: $accentColor2;
    a {
        text-decoration: none;
        color: $accentColor2;
    }

    p {
        margin: 0;
    }

    h4 {
        color: $bodyBackgroundColor;
    }

    .footer-logo {
        img {
            height: 150px;
            width: 150px;
        }
    }

    // .footer-bottom-items{
    //     // color: $accentColor2;
    // }

}