.hero {
    margin-top: 86px;
    border-bottom: 2px solid $bodyBackgroundColorTint1;
    .hero-text {
      background-image: url(../img/hero-background.jpg);
      background-size: cover;
      h1,p{
        color: $mainColor;
      }
      h1{
        font-weight: 800;
      }
      .btn{
        background-color: $bodyBackgroundColor;
        border: 2px solid $mainColor;
        white-space: nowrap;
        color: $mainColor;
        font-weight: 500;
        &:hover,&:focus{
          background-color: $mainColor;
          color: $accentColor2;  
        }
      }
    }
}
  
  