@media screen and (max-width: 992px) {
  .hero {
    .hero-text {
      background-color: $bodyBackgroundColor;
      background-image: none;
    }
  }


  .feature {
    img {
      width: 100%;
    }

    .feature-img {
      border-right: 1px solid $hrColor;
    }

    
  }

  .product-details {

    img {
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer-quick-link {
    li {
      border-right: $accentColor2 1px solid;

      &:last-child {
        border: none;
      }
    }
  }

}

@media screen and (max-width: 665px) {
 
}

@media screen and (max-width: 575px) {

  .feature {
    .feature-img {
      border: none;
    }

    .feature-details {
      padding: 0 10px;
    }
  }
}



@media (hover) {

  .card:hover {
    .buy-now {
      opacity: 1;
      margin-top: -40px;
    }
  }


  .category {
    .category-item {
      .hover-btn {
        opacity: 0;
      }

      &:hover {
        .btn {
          &:hover {
            color: $mainColor;
            background-color: $bodyBackgroundColor;
          }
        }

        &:before {
          transform: scale(35);
        }

        .hover-btn {
          opacity: 1;
          top: 95%;
        }
      }

    }
  }



}