nav {
    background-color: $mainColor;
    border-bottom: 2px solid $hrColor;
    img {
      width: 60px;
      border-radius: 50%;
    }
    .nav-link{
      font-size: 1.1rem;
      color: $accentColor2;
      &:focus,&:hover{
        color: $bodyBackgroundColor;
        
      }
      &:focus{
        text-decoration: underline !important;
      }
    }
    i{
      color: $accentColor2;
    }
    
    
  }

